<mat-tab-group *ngIf="!ongoingtraining">
    <mat-tab label="New Exercise">  

        <app-new-training (trainingstart)="ongoingtraining = true"></app-new-training>
    </mat-tab>
    <mat-tab label="Past Exercise"> 
    <app-past-training></app-past-training>    
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  <app-current-training *ngIf="ongoingtraining" (trainingExit)="ongoingtraining = false"></app-current-training>