<section class="signup-form">
<form
fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)"> 
    <mat-form-field>
    <input 
    type="email" matInput 
    placeholder="Your email" 
    ngModel 
    name ="email" 
    email
    required
    #emailInput="ngModel">
    <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
    <mat-error>emmail is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
    <input 
    type="password" 
    matInput 
    placeholder="Your password" 
    ngModel 
    name="password"
    minlength="6"
    #pwInput="ngModel"
    >
    <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Your Birthdate"    
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel name ="birthdate" required>
        
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
        <mat-checkbox required>Agree to Terms and Conditions</mat-checkbox>  
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</form>