/* .signup-form{
    width: 300px
}
 */

 mat-form-field {
     width: 800;
  
 }
 .signup-form{
  
    padding-top: 1  0%;
 }

 :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;

 }