<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password" required>
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button *ngIf="!isLoading" type="submit" mat-raised-button [disabled]="!form.valid">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

</form>
</mat-card-content>
</mat-card>