<mat-sidenav-container >
    <mat-sidenav #sidenav role="nvigation">
        <app-sidenav-list (closesidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       
    <main>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <router-outlet></router-outlet>
    </main>
   
    </mat-sidenav-content>
   
    
  </mat-sidenav-container>

