<h1>Hi I'm a product component</h1>
<input  *ngIf="!isDisabled" type="text" [(ngModel)]="productName"> 
<button *ngIf="!isDisabled" (click)=addProduct()> Change me</button>
<button mat-icon-button color="primary">
    <mat-icon>home</mat-icon>
</button>
<div *ngFor="let product of products">{{product}}</div>
