<mat-nav-list>
    <a mat-list-item routerLink="/Signup" (click)="onClose()">
    <mat-icon> face </mat-icon>
    <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/Login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/Training" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onClose()">

            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
   
</mat-nav-list>