<section class="new-training" fxLayout fxLayoutAlign="center" >
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center"> Time to start a workout</mat-card-title>
        <mat-card-content fxLayoutAlign="center">

            <mat-form-field>
                <mat-label>Select Workout</mat-label>
                <mat-select placeholder="select Exercise" ngModel name="exercise" required>
                  <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                    {{exercise.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button [disabled]="f.invalid">Start Now</button>
        </mat-card-actions>

        </mat-card>
  </form>
</section>
