<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
</div>
    <div>NG Fitness</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="nvigation-items">
        <li *ngIf="!isAuth"><a routerLink="/Signup">Signup</a></li>
        <li *ngIf="!isAuth"><a routerLink="/Login">Login</a></li>
        <li *ngIf="isAuth"><a routerLink="/Training">Training</a></li>
        <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()" routerLink="/Logout">LogOut</a></li>
        </ul>
        
    </div>
</mat-toolbar>